[client]
user=root
password={{ mariadb_root_password }}
socket=/var/lib/mysql/mysql.sock

[mysql]
user=root
password={{ mariadb_root_password }}

[mysqldump]
user=root
password={{ mariadb_root_password }}
